body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;   
}
input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
.chek{
    position: relative;
    display: block;
    width: 100px;
    height: 50px;
    background: #111;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}
input[type="checkbox"]:checked ~ .chek{
    background: #fff;
    box-shadow: 0 0 0 2200px #111;
}
.chek::before{
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 0.5s;
}
input[type="checkbox"]:checked ~ .chek::before{
    transform: translateX(-50px);
}
.chek::after{
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    background: #111;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}
input[type="checkbox"]:checked ~ .chek::after{
    transform: translateX(-50px);
}